@charset "UTF-8";
/* CSS Document */

html, body {
	height:100%; margin:0; padding:0;}


	
#apDiv1 {
	position: fixed;
	z-index: 1;
	top:0; left:0; width:100%; height:100%;}
	
	
.background { padding: 0; }

#apDiv2 {
	position: fixed;
	z-index: 2;
	top:0; left:0; width:100%; height:100%;
	-webkit-transform: 16.0
    10.0 -moz-; 
	-webkit-transform-style: preserve-3d; 
	transform: rotateZ(180deg);
	transform-style: preserve-3d;
	-webkit-transition: all .2s ease-in-out;
 }
 #apDiv2:hover {
	width: 100%;
	height: 100%;
	 overflow: hidden;
	 transform: scaleY(1.5); 
	}
	
#apDiv21 {
	position: fixed;
	z-index: 1;
	top:0; left:0; width:150%; height:150%;
	-webkit-transform: 16.0
    10.0 -moz-; 
	-webkit-transform-style: preserve-3d; 
	transform: rotateZ(100deg);
	transform-style: preserve-3d;
	-webkit-transition: all .2s ease-in-out;
 }
 #apDiv21:hover {
	width: 100%;
	height: 100%;
	 overflow: hidden;
	 transform: scaleY(2.0); 
	}
	
	
#apDiv3 {
	position: fixed;
	z-index: 1;
	top:0; left:0; width:100%; height:100%;
	-webkit-transform: 16.0
    10.0 -moz-; 
	-webkit-transform-style: preserve-3d; 
	transform: rotateZ(45deg);
	transform-style: preserve-3d;
	-webkit-transition: all .4s ease-in-out;
 }
 #apDiv3:hover {
	width: 100%;
	height: 100%;
	 overflow: hidden;
	 transform:scaleY(3.5); 
	}
	
	
#apDiv4 {
	position: fixed;
	z-index: 1;
	top:0; left:0; width:100%; height:100%;
	-webkit-transform:16.0
    10.0 -moz-; 
	-webkit-transform-style: preserve-3d; 
	transform: rotateZ(45deg);
	transform-style: preserve-3d;
	-webkit-transition: all .4s ease-in-out;}
	
#apDiv4:hover {
	width: 100%;
	height: 100%;
	overflow: hidden;
	transform:scaleY(1.5); 
	}
	
#apDiv5 {
	position: fixed;
	z-index: 1;
	top:0; left:0; width:100%; height:100%;
	-webkit-transform: 16.0
    10.0 -moz-; 
	-webkit-transform-style: preserve-3d; 
	transform: rotateZ(45deg);
	transform-style: preserve-3d;
	-webkit-transition: all .4s ease-in-out;
 }
 
#apDiv5:hover {
	width: 100%;
	height: 100%;
	 overflow: hidden;
	 transform:scaleY(1.3); 
	}
	
	
#apDiv6 {
	position: fixed;
	z-index: 1;
	top:0; left:0; width:100%; height:100%;
	-webkit-transform:16.0
    10.0 -moz-; 
	-webkit-transform-style: preserve-3d; 
	transform: rotateZ(45deg);
	transform-style: preserve-3d;
	-webkit-transition: all .4s ease-in-out;}
	
#apDiv6:hover {
	width: 100%;
	height: 100%;
	overflow: hidden;
	transform:scaleY(1.2); 
	}
	
#apDiv7 {
	position: fixed;
	z-index: 1;
	top:0; left:0; width:100%; height:100%;
	-webkit-transform: 16.0
    10.0 -moz-; 
	-webkit-transform-style: preserve-3d; 
	transform: rotateZ(60deg);
	transform-style: preserve-3d;
	-webkit-transition: all .4s ease-in-out;
 }
 
#apDiv7:hover {
	width: 100%;
	height: 100%;
	 overflow: hidden;
	 transform:scaleY(3); 
	}
	
	
#apDiv8 {
	position: fixed;
	z-index: 1;
	top:0; left:0; width:100%; height:100%;
	-webkit-transform:16.0
    10.0 -moz-; 
	-webkit-transform-style: preserve-3d; 
	transform: rotateZ(60deg);
	transform-style: preserve-3d;
	-webkit-transition: all .4s ease-in-out;}
	
#apDiv8:hover {
	width: 100%;
	height: 100%;
	overflow: hidden;
	transform:scaleY(7); 
	}
	
#apDiv31 {
	position: fixed;
	z-index: 6;
	top:0; left:0; width:100%; height:100%;
	-webkit-transform: 16.0
    10.0 -moz-; 
	-webkit-transform-style: preserve-3d; 
	transform: rotateZ(45deg);
	transform-style: preserve-3d;
	-webkit-transition: all .4s ease-in-out;
 }
 #apDiv31:hover {
	width: 100%;
	height: 100%;
	 overflow: hidden;
	 transform:scaleY(2); 
	}
	
	
#apDiv41 {
	position: fixed;
	z-index: 5;
	top:0; left:0; width:100%; height:100%;
	-webkit-transform:16.0
    10.0 -moz-; 
	-webkit-transform-style: preserve-3d; 
	transform: rotateZ(45deg);
	transform-style: preserve-3d;
	-webkit-transition: all .4s ease-in-out;}
	
#apDiv41:hover {
	width: 100%;
	height: 100%;
	overflow: hidden;
	transform:scaleY(1.7); 
	}
	
#apDiv51 {
	position: fixed;
	z-index: 4;
	top:0; left:0; width:100%; height:100%;
	-webkit-transform: 16.0
    10.0 -moz-; 
	-webkit-transform-style: preserve-3d; 
	transform: rotateZ(45deg);
	transform-style: preserve-3d;
	-webkit-transition: all .4s ease-in-out;
 }
 
#apDiv51:hover {
	width: 100%;
	height: 100%;
	 overflow: hidden;
	 transform:scaleZ(1.5); 
	}
	
	
#apDiv61 {
	position: fixed;
	z-index: 3;
	top:0; left:0; width:100%; height:100%;
	-webkit-transform:16.0
    10.0 -moz-; 
	-webkit-transform-style: preserve-3d; 
	transform: rotateZ(45deg);
	transform-style: preserve-3d;
	-webkit-transition: all .4s ease-in-out;}
	
#apDiv61:hover {
	width: 100%;
	height: 100%;
	overflow: hidden;
	transform:scaleY(3.2); 
	}
	
#apDiv71 {
	position: fixed;
	z-index: 2;
	top:0; left:0; width:100%; height:100%;
	-webkit-transform: 16.0
    10.0 -moz-; 
	-webkit-transform-style: preserve-3d; 
	transform: rotateZ(60deg);
	transform-style: preserve-3d;
	-webkit-transition: all .4s ease-in-out;
 }
 
#apDiv71:hover {
	width: 100%;
	height: 100%;
	 overflow: hidden;
	 transform:scaleY(99); 
	}
	
	
#apDiv81 {
	position: fixed;
	z-index: -1;
	top:0; left:0; width:100%; height:100%;
	-webkit-transform:16.0
    10.0 -moz-; 
	-webkit-transform-style: preserve-3d; 
	transform: rotateZ(60deg);
	transform-style: preserve-3d;
	-webkit-transition: all .2s ease-in-out;}
	
#apDiv81:hover {
	width: 100%;
	height: 100%;
	overflow: hidden;
	transform:scaleY(1.8); 
	}
